<!--Grid column-->
<div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card piece-card">

        <!--Card image-->
        <div class="view overlay">
            <div class="rounded-top">
                <% if (piece.image) { %>
                    <img src="/static/img/pieces/<%= piece.image %>" class="img-fluid piece-image ml-auto mr-auto">
                <% } else { %>
                    <img src="https://mdbootstrap.com/img/Photos/Others/gradient1.jpg" class="img-fluid piece-image">
                <% } %>
            </div>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><strong><%= piece.name %></strong></h4>
            <h6 class="card-subtitle blue-text pb-3"><%= piece.by %></h6>
            <!--Text-->
            <p class="card-text"><%= piece.description %></p>
        </div>
        <div class="card-footer">
            <button onclick="playPiece('/static/js/pieces/<%= piece.file %>', this)"
                    class="btn btn-outline-primary piece-play-btn" disabled><i
                        class="fas fa-infinity mr-2 piece-play-icon"></i> Play
            </button>
        </div>

    </div>
    <!--/.Card-->

</div>
<!--Grid column-->